table {
    color:rgba(255, 5, 5, 0.63);
    }
.f1 {
    color:aquamarine;
}
.table {
    font-weight: 600;
}
table {
    background-color:rgb(137, 149, 214);
    font-size:20px;
    width:500px;
}
body {
    background-color:rgb(153, 152, 228);
}
#aboba {
    border: 1px solid black;
    width: 100px; height: auto;
}
h2 {
    text-align: center;
}